<div style="display: flex; flex-wrap: wrap; align-items: flex-start; gap: 1.5rem; margin-bottom: 0rem;">
  <div style="flex: 1 1 300px; min-width: 200px;">
    {{ .Inner | markdownify }}
  </div>
  <figure class="img-right" style="flex: 0 1 300px; margin: 0 auto; text-align: center; margin-top: 0.4rem; margin-bottom: 1.5rem;">
    <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}" style="width: 100%; max-width: 300px; margin: 0 auto;">
    
    {{ with .Get "caption" }}
      <figcaption style="font-size: 0.9em; font-weight: bold; color: var(--body-text-color); margin: 0; text-align: center;">
        {{ . }}
      </figcaption>
    {{ end }}
    
    {{ with .Get "subtext" }}
      <div style="font-size: 0.75em; color: var(--secondary); margin-top: 0.2rem; text-align: center;">
        {{ . | safeHTML }}
      </div>
    {{ end }}
  </figure>
</div>